html{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*, *:after,*:before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: "Jost";
    background-color: #F0F9FF;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header{

}
.nav{
    margin: 1.8rem 0;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
}
.header__logo{
    width: 100%;
}   
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menu__item{
    margin-left: 1.3rem;
}
.menu__link{
    text-decoration: none;
    color: #160B38;
    font-family: "Jost-Medium";
    display: block;
    
}
.menu__link-active{
    background-color: #3B1CB9;
    color: #fff;
    font-family: "Jost-Bold";
    border-radius: 0.9rem 0.9rem 0 0.9rem;
    padding: 1rem 1.3rem;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.nav__icon{
    font-size: 2rem;
}

.main{
    margin-top: 2.3rem;
}
.page{

}

.page-content{
    width: 50%;
}
.page-content__title{
    color: #160B38;
    font-size:4.4rem;
    position: relative;
}

.page-content__title::before{
    content: "";
    position: absolute;
    background: url("../images/Lines.svg") no-repeat;
    left: -25px;
    top: -12px;
    width: 30px;
    height: 30px;
    background-size: 100%;
    
}
.page-content__caption{
    color: #160B38;
    font-family: "Jost-Medium";
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 1rem;
    margin-bottom:1.7rem;
}
.page-content__link{
    background-color: #8054F6;
    color: #fff;
    font-family: "Jost-Bold";
    border-radius: 0.9rem 0.9rem 0 0.9rem;
    padding: 1rem 1.3rem;
    text-decoration: none;
    display: block;
    max-width: 146px;
    text-align: center;
}
.page-banner{
    width: 50%;
}
.page-banner__image{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .hamburger{
        display: block;
    }
    .menu{
        position: fixed;
        top:0;
        left:0px;
        flex-direction: column;
        bottom: 0;
        background: #160B38;
        width: 16rem;
        transition: 0.3s all;
        margin-top: 0;
        z-index: 99999;
        padding: 2rem 1rem;
    }
    .menu__item{
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .menu__link{
        color: #fff;
    }
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
}
